<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name=”format-detection” content=”telephone=no” />
		<!--<script type="text/javascript" src="../js/controller/flexible.js"></script>-->
		<title>2017-07-11开会代购项目----登录</title>
		<link rel="stylesheet" type="text/css" href="./../Styles/css/style.css">
	</head>
	<body>
	<div class="p_login_img p_tab_title" id="p_log_reg">
		<div class="p_item_log" id="p_login_page">登录</div>
  		<div class="p_item_reg" id="p_reg_page">注册</div>
  		<span class="p_triangle_log"></span>
  		<span class="p_triangle_reg"></span>
	</div>
	<div class="p_tab_cont">
		<div class="p_logcont">
			<input class="p_log_emil" type="text" placeholder="187367951@qq.com" />
			<input class="p_log_password" type="text" placeholder="请输入您的密码" />
			<button class="p_log_btn"><a href="javascript:;">登录</a></button>
			<div class="p_forget_password"><a href="javascript:;">忘记密码</a></div>
		</div>
		<div class="p_regcont">
			<input class="p_log_emil p_reg_emil" type="text" placeholder="输入一个可靠的邮箱" />
			<input class="p_log_emil p_reg_password" type="text" placeholder="设置一个复杂的密码" />
			<input class="p_log_emil p_reg_pw2" type="text" placeholder="劳烦再输入一次密码" />
			<input class="p_log_emil p_reg_name" type="text" placeholder="取个响亮的昵称吧" />
			<button class="p_log_btn" id="p_log_btn"><a href="javascript:;">注册</a></button>
		</div>
	</div>
	<div id="p_reg_mask" class="p_reg_mask">
		<span id="p_close" class="p_close"></span>
		<div class="p_mail"><img src="../Styles/img/mail.png" /></div>
		<h4>谢谢您的注册</h4>
		<p>激活邮件已经发送到您的邮箱赶紧去激活吧!</p>
		<div class="p_goemil"><a href="javascript:;">去邮箱激活</a></div>
	</div>
	<script type="text/javascript" src="./../Script/Libs/jquery.1.9.min.js"></script>
	<script type="text/javascript" src="./../Script/main.js"></script>
	<script type="text/javascript" src="./../Script/Controller/login.js"></script>

	</body>
</html>
