<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name=”format-detection” content=”telephone=no” />
		<!--<script type="text/javascript" src="../js/controller/flexible.js"></script>-->
		<title>2017-07-11开会代购项目----关于我们</title>
		<link rel="stylesheet" type="text/css" href="./../Styles/css/style.css">
	</head>
	<body>
		<header class="box">
			<div class="p_headerleft"><a href="Views/p_fight_information.html"><img src="../Styles/img/goback.png" alt=""></a></div>
			<h3>关于我们</h3>
		</header>
		<div class="p_aboutus_img"></div>
		<div class="p_paragraph">
			<p>Bring2me中文名称缤米，是一家专门从事海外代购的信息发布平台，我们努力让物品在各个国家更好的扭转。是一家专门从事海外代购的信息发布平台，我们努力让物品在各个国家更好的扭转。是一家专门从事海外代购的信息发布平台，我们努力让物品在各个国家更好的扭转。是一家专门从事海外代购的信息发布平台，我们努力让物品在各个国家更好的扭转。</p>
			<p>是一家专门从事海外代购的信息发布平台，我们努力让物品在各个国家更好的扭转。是一家专门从事海外代购的信息发布平台，我们努力让物品在各个国家更好的扭转。是一家专门从事海外代购的信息发布平台，我们努力让物品在各个国家更好的扭转。</p>
			<p>是一家专门从事海外代购的信息发布平台，我们努力让物品在各个国家更好的扭转。</p>
		</div>
		<script type="text/javascript" src="./../Script/Libs/jquery.1.9.min.js"></script>
		<script type="text/javascript" src="./../Script/main.js"></script>
		<script type="text/javascript" src="./../Script/Controller/p_about_us.js"></script>
	</body>
</html>
