<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name=”format-detection” content=”telephone=no” />
		<!--<script type="text/javascript" src="../js/controller/flexible.js"></script>-->
		<title>2017-07-11开会代购项目----关于我们</title>
		<link rel="stylesheet" type="text/css" href="./../Styles/css/style.css">
	</head>
	<body>
		<header>
			<div class="p_headerleft"><a href="Views/p_fight_information.html"><img src="../Styles/img/goback.png" alt=""></a></div>
			<h3>选择分类</h3>
		</header>
		<div class="p_information box">
			<ul class="p_infor_title box_center">
				<li>个户美妆</li>
				<li class="p_infor_title_cur">个户美妆</li>
				<li>个户美妆</li>
				<li>个户美妆</li>
			</ul>
			<ul class="p_infor_cont box_center">
				<li>
					<span>双肩包</span>
					<span>双肩包</span>
					<span>双肩包</span>
					<span>双肩包</span>
					<span>双肩包</span>
				</li>
				<li>
					<span>波士顿包包包包包包包</span>
					<span>波士顿包</span>
					<span>波士顿包</span>
					<span>波士顿包</span>
					<span>波士顿包</span>
				</li>
			</ul>
		</div>
		<script type="text/javascript" src="./../Script/Libs/jquery.1.9.min.js"></script>
		<script type="text/javascript" src="./../Script/main.js"></script>
		<script type="text/javascript" src="./../Script/Controller/p_information_release.js"></script>
	</body>
</html>
