<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>项目</title>
		<link href="../Styles/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
		<style type="text/css">

		</style>
	</head>
	<body>
	<p><span>邮箱：</span><input type='email'  class="Oemail"/></p>
  	<p><span>昵称：</span><input type='text' class="Oname" /></p>
  	<p><span>密码：</span><input type='password' class="Opassword" /></p>
	<div><a href="login.html">已注册，去登陆</a> </div>

  <button class="btn">提交</button>
	<script src="../Script/Libs/jquery.1.9.min.js"></script>
	<script src="../Script/main.js"></script>
	<script src="../Script/Controller/register.js"></script>
	</body>
</html>
